@import "tailwindcss";

@font-face {
  font-family: nord;
  src: url("../fonts/Norse-Bold.otf") format("opentype");
}

body{
  font-family: nord, mono;
}

input{
  width: 20vw;
  
}

@media (width < 780px){
  input{
    width: 50vw;
  }
  
}
